body {
   font-family: 'Montserrat', sans-serif;
 }
 
.section-title h2{
   font-family: 'Lilita One', cursive !important;
}
 
h1,
h2,
h3,
h4,
h5 {
   font-family: 'Raleway', sans-serif !important;
}
.navMenu{
   background-color: #333333;
}

.slanted{
   position: fixed;
   height: 200%;
   width: 100%;
   transform: rotate(15deg);
   right: -83%;
   top: -50%;
}
.mainImg{
   position: fixed;
   top: 30;
   height: 89%;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.skillCircle{
   transform: rotate(180deg);
}
.resume_item::after {
   content: "";
   position: absolute !important;
   top: 40px !important;
   left: 6px;
   border-left: .5px solid gray !important;
   height: 80%;
   z-index: 1;
 }

.cancelIcon{
   top: -48px;
   right: -48px;
}

.backdrop-blur-sm {
   --tw-backdrop-blur: blur(10px) !important;
}
.dialog{
   width: 100% !important;
}

/*  */

@media screen and (max-width: 993px) {
   .mainImg{
     width: 200px !important;
     height: 200px;
     /* border-radius: 100px; */
   }
}
@media screen and (max-width: 720px) {
   .cancelIcon{
      top: -30px;
      right: -30px;
   }
}



